@{
    ViewData["Title"] = "Pi";
}
<h1>@ViewData["Title"]</h1>

<h2>Value of PI:</h2>
<p>@Math.PI.ToString("F15") ...</p>

<h2>Symbol:</h2>
<img src="~/images/pi.jpg" alt="My Image">

<h2>History of Pi:</h2>

Pi (π), the mathematical constant representing the ratio of a circle's circumference to its diameter, has a long and diverse history:

Ancient Egypt and Babylon (2000–1600 BCE):

Approximations of pi were used in both ancient Egyptian and Babylonian mathematics. The Egyptians utilized a value around 3.125, while the Babylonians approximated pi as 3.125.
Ancient Greece (circa 300 BCE):

Archimedes, a Greek mathematician, made significant contributions to pi. He provided accurate approximations by inscribing and circumscribing polygons around a circle, proving that pi lies between 3 1/7 and 3 10/71.
India (circa 500 CE):

The Indian mathematician Aryabhata gave an approximate value of pi as 3.1416 in his work Aryabhatiya.
Islamic Golden Age (circa 800–1100 CE):

Mathematicians in the Islamic world, including Al-Khwarizmi and Al-Mahani, contributed to the understanding of pi.
Europe (Medieval and Renaissance Periods):

In medieval Europe, pi was represented by the term "circumference divisor." The symbol π was introduced by William Jones in 1706.
18th and 19th Centuries:

Mathematicians like Euler and Lambert made advancements in understanding pi. Lambert proved that pi is irrational.
19th and 20th Centuries:

With the advent of computers, the calculation of pi to numerous decimal places became feasible. Mathematicians continue to push the boundaries of precision.
Modern Era (20th Century Onward):

Computers enabled the calculation of pi to trillions of decimal places. Pi Day, celebrated on March 14th (3/14), has become a global event.
The study of pi extends beyond geometry, finding applications in various scientific and engineering fields. Its transcendental and irrational nature continues to captivate mathematicians and enthusiasts, making it a symbol of mathematical beauty and precision.

<markdown>
    [Pi on wikipedia](https://pl.wikipedia.org/wiki/Pi)
</markdown>